{% extends 'homepage/base.html' %}
{% block title %} Entry {% endblock title %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
</button>
{% endblock header %}
{% block content %}

    {% for text in texts %}
    <ul class="list-group" style="text-align: center;">
        <li class="list-group-item">{{text}}</li>
    </ul>
    {% empty %}
    <ul class="list-group" style="text-align: center;">
        <li class="list-group-item">There are no entries</li>
    </ul>
    
    {% endfor %}


{% endblock content %}

