{% extends 'homepage/base.html' %}
{% block title %} Blogger {% endblock title %}

{% block header %}

{% if user.is_active %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'homepage:new_topic' %}">Add a Topic <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:signout' %}">Sign Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:doneprofile' user.username %}">Profile Page</a>
        </li>
      </ul>
    </div>
  </nav>

{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'users:signup' %}">Sign Up<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:signin' %}">Sign In</a>
            </li>
          </ul>
        </div>
      </nav>
    {% endif %}
{% endblock header %}
{% block content %}
{% for topic in topics %}
<div class="list-inline text-center">
    <a href="{% url 'homepage:entry' topic.id %}" class="list-group-item list-group-item-action">{{topic}}</a>
  </div>
{% endfor %}

{% endblock content %}

