{% extends 'homepage/base.html' %}

{% block header %}
<p>
    <h3><a href="{% url 'homepage:home' %}">homepage</a> - 
    <a href="{% url 'homepage:new_topic' %}">back to topics </a> - Add an Entry </h3>
</p>

{% endblock header %}

{% block content %}
{% if user.is_active  %} 
    {% if user == topic.author %}
    <form action="{% url 'homepage:new_entry' topic.id %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
    </form>
    {% else %}
    <p>You are not allowed here </p>
    {% endif %} 
{% else %}
    <p>You are not logged it </p>
    <p>You may Sign In <a href="{% url 'users:signin' %}">here</a> or Sign Up <a href="{% url 'users:signup' %}">here</a></p>
{% endif %}



{% endblock content %}