{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add a topic{% endblock title %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          Add a Topic 
    </div>
  </nav>
{% endblock header %}

{% block content %}


{% if user.is_authenticated %}

<form action="{% url 'homepage:new_topic' %}" method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
</div>
<button type="button" class="btn btn-dark btn-lg">Create Topic</button>
    </form>
    
{% else %}

<p>You are not logged it </p>
<p>You may Sign In <a href="{% url 'users:signin' %}">here</a> or Sign Up <a href="{% url 'users:signup' %}">here</a></p>

{% endif %}

{% endblock content %}