{% extends 'homepage/base.html' %}

{% block title %} {{userprofile}} profile page {% endblock title %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
<ul class="list-group">
    <li class="list-group-item list-group-item-dark" style="text-align: center;">{{userprofile}}</li>
</ul>

{% endblock header %}
{% block content %}
<ul class="list-group" style="text-align: center;">
    <li class="list-group-item">{{profiles.age}}</li>
    <li class="list-group-item">{{profiles}}</li>
    <li class="list-group-item">{{profiles.genre}}</li>
</ul>


    
{% if user.id == userprofile.id %}
<div class="list-group" style="text-align: center;">
    <a href="{% url 'users:profile' %}" class="list-group-item list-group-item-dark">Edit Profile</a>
</div>
{% else %}
    <a href="">Like Profile</a>
{% endif %}

{% endblock content %}