{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Profile{% endblock title %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
{% endblock header %}
{% block content %}

    <form action="{% url 'users:profile' %}" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="hidden" value="next">
        <button type="submit" class="btn btn-dark">Update Profile</button>
    </form>
    <div class="list-group" style="text-align: center;">
        <a href="{% url 'users:doneprofile' user.username%}" class="list-group-item list-group-item-dark">Next</a>
    </div>
{% endblock content %}