{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Sign In {% endblock title %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
{% endblock header %}

{% block content %}

{% if form.errors %}
    <p>Error! Not able to sign in. Your password and username might not match</p>
{% endif %}

<form action="{% url 'users:signin' %}" method="POST" novalidate>
    {% csrf_token %}
    {{form|crispy}}
    <input type="hidden" value="next">
    <button type="submit" value="signin" class="btn btn-dark">Sign In</button>
</form>
<p>Don't have an account? Sign up <a href="{% url 'users:signup' %}">here</a></p>
    
{% endblock content %}