{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block title %} homepage{% endblock title %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

{% endblock header %}
{% block content %}
    <form action="{% url 'users:signup' %}" method="POST" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <input type="hidden" value="next">
        <button type="submmit" value="signup" class="btn btn-dark">Sign Up</button>
    </form>
    <p>Have an account? Sign in <a href="{% url 'users:signin' %}">here</a></p>
{% endblock content %}