{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Sign Out Page {% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'homepage:home' %}">Blogger</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:signin' %}">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
    <p>Go back to homepage? <a href="{% url 'homepage:home' %}">Blogger</a></p>  
    <p><a href="{% url 'users:signin' %}">Sign in </a> again?</p>
{% endblock content %}